//  Variables
$bgcolor: #fff;

// Navbar
.navbar {
  .nav-item {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 10px;
  }
  .nav-link {
    color: $bgcolor;
  }
}

header {
  .navbar-brand {
    background-image: url('/assets/img/logowhite-officialtanc.png');
    display: block;
    width: 140px;
    height: 50px;
    background-size: cover;
  }

  &.sticky {
    nav {
      background-color: $bgcolor;
      transition: background-color 500ms linear;
    }
    .navbar-brand {
      background-image: url('/assets/img/logo-officialtanc.png');
    }
    .nav-link {
      color: #000;
    }
  }
}

// Carousel
.carousel {
  .carousel-item {
    &.change-height {
      height: 50vw;
    }
  }
}

video {
  width: 100%;
}

.carousel-caption {
  height: 75%;
  h1 {
    font-weight: 800;
    font-size: 7vw;
    text-align: center;
    letter-spacing: 10px;
  }
  p {
    font-size: 2vw;
    letter-spacing: 10px;
  }
}

//  Main
body {
  background-color: $bgcolor;
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Narrow', sans-serif;
}

.container-fluid {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  .row {
    .col-4 {
      img {
        padding-top: 5rem;
        width: 200px;
        height: 200px;
      }
      h2 {
        padding: 10px;
      }
    }
  }
}

.instagram-content {
  border-right: 2px solid black;
  position: relative;
}
.twitter-content {
  border-left: 2px solid black;
  position: relative;
}

//  Custom Button
.btn-custom {
  color: white;
  background-color: #3498db;
  padding: 10px 75px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-custom:hover {
  border: 3px solid #3498db;
  text-decoration: none;
  color: white;
  background-color: #2980b9;
}

//  Animations
.tracking-in-expand {
	animation: tracking-in-expand 1000ms cubic-bezier(0.215, 0.610, 0.355, 1.000) 100ms both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

//  Footer
footer {
  text-align: center;
  background-color: #f5f6fa;
}
