//  Variables
$bgcolor: #ecf0f1;

// Navbar
.navbar {
  .nav-item {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 10px;
  }
  .nav-link {
    color: #fff;
  }
}

header {
  .navbar-brand {
    background-image: url('/assets/img/logowhite-officialtanc.png');
    display: block;
    width: 140px;
    height: 50px;
    background-size: cover;
  }

  &.sticky {
    nav {
      background-color: #fff;
      transition: background-color 500ms linear;
    }
    .navbar-brand {
      background-image: url('/assets/img/logo-officialtanc.png');
    }
    .nav-link {
      color: #000;
    }
  }
}

// Carousel
.carousel {
  .carousel-item {
    &.change-height {
      height: 50vw;
    }
  }
}

video {
  width: 100%;
}

.carousel-caption {
  height: 75%;
  h1 {
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    letter-spacing: 10px;
  }
  p {
    font-size: 20px;
    letter-spacing: 10px;
  }
}

//  Main
body {
  background-color: $bgcolor;
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Narrow', sans-serif;
}

//  Footer
footer {
  text-align: center;
}
